/node_modules
/public/hot
/public/profile_pictures
/public/posts_picture
/public/dist
/public/plugins
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
